Repository PuppyPaduk2/jargon.ist: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:js, yarn run format:css

.DS_Store added to gitignore
  .DS_Store
  .gitignore
Due: none

.DS_Store files removed
  src/.DS_Store
  src/img/.DS_Store
Due: none

Algolia check error fixed.
  gatsby/createPages.js
Due: yarn run format:js

Documents updated
  .lintstagedrc
  CONTRIBUTING.md
  README.md
  jargons/immutable.md
  package.json
  src/components/sections/Footer/Footer.js
  src/pages/404.js
Due: yarn run format:js

Types added and templates prensentation components moved to theirs own files.
  src/components/pages/JargonDetail/JargonDetail.js
  src/components/pages/JargonDetail/index.js
  src/components/pages/JargonList/JargonList.js
  src/components/pages/JargonList/index.js
  src/components/pages/TagDetail/TagDetail.js
  src/components/pages/TagDetail/index.js
  src/components/pages/TagList/TagList.js
  src/components/pages/TagList/index.js
  src/components/sections/Footer/Footer.js
  src/templates/jargon.js
  src/templates/jargons.js
  src/templates/tag.js
  src/templates/tags.js
  src/types/jargon.js
  src/types/tag.js
Due: yarn run format:js

License section added to readme
  README.md
Due: none

Search finished
  .eslintrc
  package.json
  src/components/sections/Search/AutoComplete.js
  src/components/sections/Search/Search.js
  src/components/sections/Search/Search.scss
  src/html.jsx
  yarn.lock
Due: yarn run format:js, yarn run format:css

Algolia logo added
  src/components/sections/Footer/Footer.js
  src/components/sections/Footer/Footer.scss
Due: yarn run format:js, yarn run format:css

Algolia logo height decreased
  src/components/sections/Footer/Footer.js
Due: yarn run format:js

Pointer cursor added to highlighted search results
  src/components/sections/Search/Search.scss
Due: yarn run format:css

CircleCI configuration added
  .circleci/config.yml
  package.json
Due: none

Netlify configuration added
  gatsby/createPages.js
  netlify.toml
Due: yarn run format:js

Netlify config error fixed
  netlify.toml
Due: none

Coverage check added to CircleCI
  .circleci/config.yml
  package.json
Due: none

Header, Footer and Hero styles updated.
  src/components/sections/Footer/Footer.js
  src/components/sections/Footer/__snapshots__/Footer.test.js.snap
  src/components/sections/Header/Header.js
  src/components/sections/Header/Header.scss
  src/components/sections/Header/__snapshots__/Header.test.js.snap
  src/components/sections/Hero/Hero.js
  src/components/sections/Hero/Hero.scss
  src/components/sections/Hero/__snapshots__/Hero.test.js.snap
  src/components/sections/Logo/Logo.js
  src/components/sections/Logo/__snapshots__/Logo.test.js.snap
  src/img/logo.svg
  src/styles/base/_responsive.scss
Due: yarn run format:js, yarn run format:css

Features section finished.
  src/components/sections/Features/Features.js
  src/components/sections/Features/index.js
  src/components/sections/Hero/Hero.js
  src/components/sections/Hero/__snapshots__/Hero.test.js.snap
  src/components/ui/Box/Box.js
  src/components/ui/Box/Box.scss
  src/components/ui/Box/Box.test.js
  src/components/ui/Box/__snapshots__/Box.test.js.snap
  src/components/ui/Box/index.js
  src/components/ui/Button/Button.test.js
  src/components/ui/Container/Container.test.js
  src/components/ui/Section/Section.scss
  src/components/ui/index.js
  src/img/contribute.svg
  src/img/learn.svg
  src/img/read.svg
  src/pages/__snapshots__/index.test.js.snap
  src/pages/index.js
  src/templates/__snapshots__/jargon.test.js.snap
  src/templates/jargon.test.js
Due: yarn run format:js, yarn run format:css

Home page finished.
  src/components/sections/CallToAction/CallToAction.js
  src/components/sections/CallToAction/index.js
  src/components/sections/ExampleJargon/ExampleJargon.js
  src/components/sections/ExampleJargon/index.js
  src/components/sections/Search/AutoComplete.js
  src/components/sections/Search/Search.scss
  src/components/sections/Search/__snapshots__/AutoComplete.test.js.snap
  src/img/jargon.svg
  src/pages/__snapshots__/index.test.js.snap
  src/pages/index.js
  src/styles/abstracts/_colors.scss
  src/styles/base/_base.scss
  src/styles/base/utilities/_colors.scss
  src/styles/main.scss
  src/styles/vendors/_index.scss
  src/styles/vendors/_prism.scss
Due: yarn run format:js, yarn run format:css

Z-index problem fixed for search autocomplete
  src/components/sections/Hero/__snapshots__/Hero.test.js.snap
  src/components/sections/Search/Search.scss
Due: yarn run format:css

Tests added
  src/components/sections/CallToAction/CallToAction.test.js
  src/components/sections/CallToAction/__snapshots__/CallToAction.test.js.snap
  src/components/sections/ExampleJargon/ExampleJargon.test.js
  src/components/sections/ExampleJargon/__snapshots__/ExampleJargon.test.js.snap
  src/components/sections/Features/Features.test.js
  src/components/sections/Features/__snapshots__/Features.test.js.snap
Due: yarn run format:js

Codes added for mobile to example jargon
  src/components/sections/ExampleJargon/ExampleJargon.js
  src/components/sections/ExampleJargon/__snapshots__/ExampleJargon.test.js.snap
Due: yarn run format:js

Styling finished
  .flowconfig
  src/components/pages/JargonDetail/JargonDetail.js
  src/components/pages/JargonDetail/JargonDetail.test.js
  src/components/pages/JargonDetail/__snapshots__/JargonDetail.test.js.snap
  src/components/pages/JargonList/JargonList.js
  src/components/pages/JargonList/__snapshots__/JargonList.test.js.snap
  src/components/pages/TagDetail/TagDetail.js
  src/components/pages/TagDetail/__snapshots__/TagDetail.test.js.snap
  src/components/pages/TagList/TagList.js
  src/components/pages/TagList/__snapshots__/TagList.test.js.snap
  src/components/sections/Footer/Footer.js
  src/components/sections/Footer/__snapshots__/Footer.test.js.snap
  src/components/sections/Hero/Hero.js
  src/components/sections/Hero/__snapshots__/Hero.test.js.snap
  src/components/sections/JargonTags/JargonTags.js
  src/components/sections/JargonTags/JargonTags.scss
  src/components/sections/JargonTags/JargonTags.test.js
  src/components/sections/JargonTags/__snapshots__/JargonTags.test.js.snap
  src/components/sections/JargonTags/index.js
  src/components/sections/Menu/Menu.scss
  src/styles/base/utilities/_text.scss
  src/styles/components/_c-link-secondary.scss
  src/styles/components/_index.scss
  src/styles/main.scss
  src/styles/vendors/_prism.scss
  src/templates/__snapshots__/jargon.test.js.snap
  src/templates/__snapshots__/jargons.test.js.snap
  src/templates/__snapshots__/tag.test.js.snap
  src/templates/__snapshots__/tags.test.js.snap
  src/templates/jargon.js
  src/templates/jargons.js
  src/templates/tag.js
  src/templates/tags.js
  src/utils/chunks.js
  src/utils/chunks.test.js
  src/utils/groupByFirstLetter.js
  src/utils/groupByFirstLetter.test.js
Due: yarn run format:js, yarn run format:css

Jargon tags responsive errors fixed
  src/components/sections/JargonTags/JargonTags.js
  src/components/sections/JargonTags/JargonTags.scss
  src/components/sections/JargonTags/__snapshots__/JargonTags.test.js.snap
Due: yarn run format:js, yarn run format:css

Tags button added to example jargon.
  src/components/sections/ExampleJargon/ExampleJargon.js
  src/components/sections/ExampleJargon/__snapshots__/ExampleJargon.test.js.snap
Due: yarn run format:js

Active state error fixed for menu links.
  src/components/sections/Menu/Menu.scss
Due: yarn run format:css

Favicon updated.
  src/img/favicon.png
Due: none

Title issue fixed.
  src/layouts/__snapshots__/index.test.js.snap
  src/layouts/index.js
Due: yarn run format:js

Progress bar added
  gatsby-config.js
  package.json
  yarn.lock
Due: yarn run format:js

GA code added
  gatsby-config.js
  package.json
  yarn.lock
Due: yarn run format:js

PWA integration finished
  gatsby-config.js
  package.json
  src/img/icon.png
  yarn.lock
Due: yarn run format:js

Search page added
  jest.config.js
  package.json
  src/components/pages/SearchResults/SearchResults.js
  src/components/pages/SearchResults/SearchResults.test.js
  src/components/pages/SearchResults/__snapshots__/SearchResults.test.js.snap
  src/components/pages/SearchResults/index.js
  src/html.jsx
  src/pages/__snapshots__/arama.test.js.snap
  src/pages/arama.js
  src/pages/arama.test.js
  static/search.xml
  yarn.lock
Due: yarn run format:js

OG and Twitter meta tags added
  gatsby-config.js
  src/layouts/__snapshots__/index.test.js.snap
  src/layouts/index.js
  src/pages/__snapshots__/arama.test.js.snap
  src/pages/arama.js
  src/templates/__snapshots__/jargon.test.js.snap
  src/templates/__snapshots__/jargons.test.js.snap
  src/templates/__snapshots__/tag.test.js.snap
  src/templates/__snapshots__/tags.test.js.snap
  src/templates/jargon.js
  src/templates/jargons.js
  src/templates/tag.js
  src/templates/tags.js
  static/social.png
Due: yarn run format:js

Contributing doc updated
  CONTRIBUTING.md
Due: none

Meta prop type fixed.
  src/pages/arama.js
  src/templates/jargon.js
  src/templates/jargons.js
  src/templates/tag.js
  src/templates/tags.js
Due: yarn run format:js

Snapshots updated.
  src/pages/__snapshots__/arama.test.js.snap
  src/templates/__snapshots__/jargon.test.js.snap
  src/templates/__snapshots__/jargons.test.js.snap
  src/templates/__snapshots__/tag.test.js.snap
  src/templates/__snapshots__/tags.test.js.snap
Due: none

Tweet bot command finished.
  bin/.eslintrc
  bin/tweet.js
  package.json
  yarn.lock
Due: yarn run format:js

Example lambda function added.
  functions/.eslintrc
  functions/deploy-succeeded.js
  netlify.toml
  package.json
Due: yarn run format:js

Lambda test
  functions/deploy-succeeded.js
Due: yarn run format:js

Tweet bot added
  .circleci/config.yml
  bin/tweet.js
  functions/.eslintrc
  functions/deploy-succeeded.js
  netlify.toml
Due: yarn run format:js

Path conditions:
  yarn run format:js: any of: *.js
  yarn run format:css: any of: *.scss
