Repository PuppyPaduk2/jargon.ist: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:js, yarn run format:css, yarn run format:md

Opt-in jargon added.
  jargons/opt-in.md
Due: yarn run format:md

Opt-out jargon added.
  jargons/opt-out.md
Due: yarn run format:md

Header and footer changes.
  src/components/pages/JargonDetail/JargonDetail.js
  src/components/pages/JargonDetail/__snapshots__/JargonDetail.test.js.snap
  src/components/sections/Footer/Footer.js
  src/components/sections/Footer/__snapshots__/Footer.test.js.snap
  src/components/sections/Search/AutoComplete.js
  src/components/sections/Search/__snapshots__/AutoComplete.test.js.snap
Due: yarn run format:js

Favicons added
  gatsby-config.js
  package.json
  src/img/favicon_big.png
  yarn.lock
Due: yarn run format:js

Github integration added
  .github/config.yml
  .github/stale.yml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: yarn run format:md

Path conditions:
  yarn run format:js: any of: *.js
  yarn run format:css: any of: *.scss
  yarn run format:md: any of: *.md
